
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');
::selection {
    background: #ffea68; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #ffea68; /* Gecko Browsers */
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    background-color: #eee;
    -webkit-font-smoothing: antialiased;
    font-family: 'Source Sans Pro',Arial,Helvetica Neue,Helvetica,sans-serif;
}

#topbar{
    background: #d6001c;
    top: 0px;
    position: fixed;
    height: 70px;
    z-index: 3;
}
#topbar img{
    height: 40px;
}
#rpilogo{
    position: relative;
    top: 14px;
    left: 75px;
}
#namebar{
    top: 0px;
    width: 100%;
    position: fixed;
    background: url("../images/BKG.jpg");
    background-color: #bbb;
    background-blend-mode: screen;
    height: 320px;
    z-index: 0;
}
#namebarplaceholder{
    top: 0px;
    position: relative;
    background: transparent;
    height: 200px;
}
#namebar a{
    position: relative;
    top: 70px;
    left: 75px;
    font-size: 80px;
    text-decoration: none;
}
#namebar img{
    height: 180px;
}
#issl{
    position: relative;
    top:20px;
}
#buttonbarplaceholder{
    position: relative;
    top:0px;
    left:0px;
    height: 0px;
}
#buttonbar{
    background: #fefefe;
    position: relative;
    top:0px;
    left:0px;
    width: 100%;
    z-index: 4;
}
#buttonholder{
    left: 100px;
    position: relative;
}
.button.nav{
    position: relative;
    top: 0px;
    left:0px;
    height: 55px;
    width: 140px;
    font-size: 20px;
    background: transparent;
    text-transform: uppercase;
    border-width: 0px;
}
.button.nav:hover{
    background: #990011;
    color: #fff;
}
.button.nav:focus{
    outline: none;
}

.sectionline{
    position: relative;
    height: 15px;
    background: #990011;
    top:0px;
}
#slider{
    position: relative;
    background: #ddd;
    top:0px;
    width:100%;
}
.about{
    padding-top: 30px;
    padding-bottom: 50px;
    position: relative;
    top: 0px;
    background: #fff;
}
.about.textholder{
    font-size: 26px;
    line-height: 40px;
    width: 80%;
    left:10%;
}
.about.textholder h1{
    font-size: 40px;
    line-height: 70px;
}
.footer{
    position: relative;
    left: 0;
    bottom: 0px;
    height: 80px;
    width: 100%;
    background-color: #444;
    color: white;
    text-align: center;
}